body{
    background-color: rgb(240, 255, 255);
}

header{
    background-color:cadetblue;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    
}

.head{
    font-family:fantasy;
    text-decoration: underline;

}

.titre{
    display: flex;
    align-items: center;

}


.titre img{
    margin-right: 20px;
}

.logo{
    display: flex;
    align-items: flex-end;
}

.logo input{
    margin-right: 20px;
}
#compte{
    margin-right: 20px;
}

#input{
    border-radius: 10px;
}



footer{
    bottom: 0;
    width:100%;
    height:150px;
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
  }

  .titree{
    display: flex;
    align-items: center;
}

.titree img{
    margin-right: 20px;
    margin-left: 20px;
}
h2{
    font-family:fantasy;
}

p{
    text-align: start;
    margin-top: 3%;
}

.bloc{
    display: block;
    text-align: start;
    
}

.bloc2{
    display: block;
    text-align: start;
    
}

.reseau{
    display: flex;
    align-self: center;
    margin-right: 5%;}

    .bi-facebook{
        margin-right: 10%;
    }
      
    .bi-instagram{
        margin-right: 10%;
        
    }

    a{
        text-decoration: none;
        color: black;
    }


    .reseau a {

        color: black;
        display: flex;
    }

    a:hover{
        color: aliceblue;
    }


    span{
        border: 1px solid black;
        border-radius: 10px;
        margin-left: 60px;
        padding: 10px;
    
    }

    .empo{
        background-color:cadetblue;
    }

    .mod{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

   
    .mod2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 100px;
    }

    .livrai{
        border: 1px solid black;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px;
       
    }

    .livrai p{
        text-align: center;
    }

    .livrai2{
        border: 1px solid black;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
    }

    .livrai2 p {
        text-align: center;
    }

.orto{
    font-weight: lighter;
    font-size: small;
}
 .bag:hover{
    color: cadetblue;
 }

 .paie {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .paie2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .liv{
    margin-bottom: 50px;
 }

 button{
    border-radius: 30px;
 }

 .art{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .fin{
    font-weight: lighter;
 }

 .carre{
    border: 1px solid black;
    background-color:white;
    padding: 5px;
 }

 .car{
    border: 1px solid black;
    background-color:white;
    padding: 5px;
    width: 100%;
    margin-bottom: 20px;

 }

 .comm{
    display: flex;
    justify-content: center;
    border: 2px solid cadetblue;
    padding: 10px;
    width: 100%;
    background-color:cadetblue;
    font-weight: bolder;

 }


 .co{
    display: flex;
    justify-content: center;
    

 }

 #toto{
    background-color: white;
    margin-left: 220px;
 }

 .total{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .total2{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .tout{
    display: block;
    margin-top: 400px;
 }

 .somme{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    margin-top: 500px;
    padding: 5px;
    background-color: cadetblue;
 }

.commander a{
    width: 100%;
}

 