body{
    background-color: aliceblue;
}



header{
    background-color:cadetblue;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    
}

.head{
    font-family:fantasy;
    text-decoration: underline;

}



.titre{
    display: flex;
    align-items: center;

}


.titre img{
    margin-right: 20px;
}

.logo{
    display: flex;
    align-items: flex-end;
}

.logo input{
    margin-right: 20px;
}
#compte{
    margin-right: 20px;
}

#input{
    border-radius: 10px;
}




.img1{
    padding: 20px;
    width: 100px;
    position: relative;
    bottom: 60px;

} 




.head{
    font-family:fantasy;
    text-decoration: underline;

}

.titre{
    display: flex;
    align-items: center;

}


.titre img{
    margin-right: 20px;
}

.bi-person-fill{
    display: flex;
    justify-content: center;
}

footer{
    position: relative;
    height:150px;
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
  }

  .titree{
    display: flex;
    align-items: center;
}

.titree img{
    margin-right: 20px;
    margin-left: 20px;
}
h2{
    font-family:fantasy;
}

h3{
    font-style: oblique;
    text-decoration: solid;
    padding:20px;
    display: flex;
    justify-content: left;
    
}
p{
    text-align: start;
    margin-top: 3%;
}

.bloc{
    display: block;
    text-align: start;
    
}

.bloc2{
    display: block;
    text-align: start;
    
}

.reseau{
    display: flex;
    align-self: center;
    margin-right: 5%;}

    .bi-facebook{
        margin-right: 10%;
    }
    .bi-instagram{
        margin-right: 10%;
    }
  

    
    a{
        text-decoration: none;
    }





li{
list-style-type: none;
}

article :nth-last-child(1){
text-transform: capitalize;

}





.dropdown-toggle{
    color: black;
    display: flex;
}

.dropdown-toggle:hover{
    color: aliceblue;
}

button{
    margin-right: 60%;
}

.info{
    border: 2px solid black;
    margin-right: 60%;
    text-align: center;
    font-weight: bold;
    background-color: cadetblue;
}

.bt{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}
.bt button{   
     margin-bottom: 70px;
}

.nom{
    border: 1px solid black;
    background-color: white;
    font-weight: normal;
    margin-right: 70%;
    text-align: center;
}

button{
    background-color: cadetblue;
}

button:hover{
    color: aliceblue;
}

.dropdown-menu{
    background-color: black;
}