*{
    padding:0;
    margin: 0;
}

body{
    background-color: azure;
}

header{
    background-color:cadetblue;
    padding: 2%;
    display: flex;
    justify-content: space-between;

}

.head{
    font-family:fantasy;
    text-decoration: underline;

}

.titre{
    display: flex;
    align-items: center;

}


.titre img{
    margin-right: 20px;
}

.logo{
    display: flex;
    align-items: flex-end;
}

.logo input{
    margin-right: 20px;
}
#compte{
    margin-right: 20px;
}

#input{
    border-radius: 10px;
}




.img1{
    padding: 20px;
    width: 100px;
    position: relative;
    bottom: 60px;

}   /*header page de conexion

*/

.div3{
        height: 500px;
        width: 500px;
        background-color: cadetblue;
        border-radius: 3%;
        /* position: absolute;
         left: 35%; */
         display: flex;
         justify-content: center;
         align-items: center;
        
}

    
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;

}

.Form1{
    padding: 10px;
   width: 50%; 
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}



footer{

    bottom: 0;
    width:100%;
    height:150px;
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
  }

  .titree{
    display: flex;
    align-items: center;
}

.titree img{
    margin-right: 20px;
    margin-left: 20px;
}
h2{
    font-family:fantasy;
}

p{
    text-align: start;
    margin-top: 3%;
}

.bloc{
    display: block;
    text-align: start;

}

.bloc2{
    display: block;
    text-align: start;

}

.reseau{
    display: flex;
    align-self: center;
    margin-right: 5%;}

    .bi-facebook{
        margin-right: 10%;
    }
    .bi-instagram{
        margin-right: 10%;
 }

 .container{
    padding: 100px;
    margin: 100px;
 }

 .col-4{
    padding: 20px;
 }
 .H2inscription{
    display: flex;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;
 }