body{
    background-color: azure;
}

header{
    background-color:cadetblue;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    
}

.head{
    font-family:fantasy;
    text-decoration: underline;

}

.titre{
    display: flex;
    align-items: center;

}


.titre img{
    margin-right: 20px;
}

.logo{
    display: flex;
    align-items: flex-end;
}

.logo input{
    margin-right: 20px;
}
#compte{
    margin-right: 20px;
}

#input{
    border-radius: 10px;
}


footer{
    position: absolute;
    bottom: 0;
    width:100%;
    height:150px;
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
  }

  .titree{
    display: flex;
    align-items: center;
}

.titree img{
    margin-right: 20px;
    margin-left: 20px;
}
h2{
    font-family:fantasy;
}

p{
    text-align: start;
    margin-top: 3%;
}

.bloc{
    display: block;
    text-align: start;
    
}

.bloc2{
    display: block;
    text-align: start;
    
}

.reseau{
    display: flex;
    align-self: center;
    margin-right: 5%;}

    .bi-facebook{
        margin-right: 10%;
    }
    .bi-instagram{
        margin-right: 10%;
    }

    .m{
        margin-left: 80px;
    }

    img{
            float: left;
    }

   
  

    .col-4{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        
    }

   .butt{
    border: 2px solid black;
    border-radius: 10px;
    background-color: cadetblue;
    padding-left: 7%;
    padding-right: 7%;
    text-align: center;
   
   }
   .ajt{
    border: 2px solid black;
    border-radius: 10px;
    background-color: cadetblue;
    padding: 2%;
   }

   .butt:hover{
    background-color: aliceblue;
   }

   .ajt:hover{
    background-color: aliceblue;
   }

   h5{
    text-decoration: underline;
    color: cadetblue;
   }

 
.price{
   margin-top: 400px;
   font-weight: bold;

}

.pan{
    color: black;
}

.pan:hover{
    color: aliceblue;
}